body{
    font-family: 'Arial', sans-serif;
    background-color: rgb(243, 243, 243)
  }
  
.flex-container{
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  padding-left: 100px;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  width: 500px;
  
  }
  
.flex-container .box{
    margin: 10px;
    background-color: rgb(173, 189, 230);
    padding: 20px;
    height:25px;

  }
  
h2{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
  
  
  
.gallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    gap: 10px; 
    margin: 0;
    padding: 15px;
  }
  
.gallery-item img {
    width: 20%; 
    height: 10%; 
    border-radius: 8px;
  }
  
@media (max-width: 1024px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  @media (max-width: 800px) {
    .flex-container{
      flex-direction: column; 
    }
  }